footer.footer-banner{
    background-color:$dark;
    color:$light;
    margin:4em auto 0;
    padding:4em 10px;
    text-align:center;
    h4{
        margin-bottom:0.5em;
    }
    p a{
        margin:0px;
        &:after{
           content:none;
        }
    }
}

@media all and(min-width:800px){
    footer.footer-banner{
        padding:6em 10px;
        margin-top:6em;
    }
}