section.cta-banner{
    padding:4em 10px;
    text-align:center;
    h1,h2,h3,h4,h5,h6{
        margin-bottom:0.5em;
        
    }
    h1,h2,h3{
        position:relative;
        left:0.3em;
    }
    ul{
        @extend %block;
    }
}

section.cta-banner.dark{
    background-color:$dark;
    color:$light;
    p{
        font-weight: 300;
    }
}

@media all and(min-width:800px){
    section.cta-banner{
        ul{
            @include outer-container();
            @include clearfix();        
        }
        li{
            @include span-columns(2);
            min-height:20px;
        }
        li:nth-child(even){
            @include span-columns(8);
            font-size:0.9em;
            padding:1em;
        }
    }
}

@media all and(min-width:$width){
    section.cta-banner{
        padding:6em 0px;
    }
}